<div class="item" id="cliente-{{ cliente.id }}">
    <span>Nome: {{ cliente.nome }} | CPF: {{ cliente.cpf }} | Telefone: {{ cliente.telefone }}</span>
    {% if user.is_authenticated %}
    <span class="acoes">
        <a href="#" 
           hx-get="{% url 'editar_cliente_htmx' cliente.id %}"
           hx-target="#cliente-{{ cliente.id }}"
           hx-swap="outerHTML"
           class="btn-editar">Editar</a>
        <a href="{% url 'excluir_cliente' cliente.id %}" class="btn-excluir">Excluir</a>
    </span>
    {% endif %}
</div>