{% extends 'core/base.html' %}

{% block title %}Excluir Compra{% endblock %}

{% block content %}
<div class="form-container excluir-container">
  <h2>Tem certeza que deseja excluir esta compra?</h2>

  <p><strong>Cliente:</strong> {{ compra.cliente.nome }}</p>
  <p><strong>Medicamento:</strong> {{ compra.medicamento.nomeMedicamento }}</p>
  <p><strong>Data:</strong> {{ compra.data }}</p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn-excluir">Confirmar Exclusão</button>
    <a href="{% url 'lista_compras' %}" class="btn-cancelar">Cancelar</a>
  </form>
</div>
{% endblock %}