{% extends 'core/base.html' %}

{% block title %}Lista de Compras{% endblock %}

{% block content %}
<main class="container">
  <h2 class="titulo">Lista de Compras</h2>

  <div class="lista">
    {% if compras %}
      {% for compra in compras %}
        <div class="item">
          <span>
            Cliente: {{ compra.cliente.nome }} | 
            Medicamento: {{ compra.medicamento.nomeMedicamento }} | 
            Quantidade: {{ compra.quantidade }} | 
            Data: {{ compra.data|date:"d/m/Y" }} | 
            Valor: R$ {{ compra.valor }}
          </span>

          {% if user.is_authenticated %}
          <span class="acoes">
            <a href="{% url 'editar_compra' compra.pk %}" class="btn-editar">Editar</a>
            <a href="{% url 'excluir_compra' compra.pk %}" class="btn-excluir">Excluir</a>
          </span>
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
      <div class="item">Nenhuma compra registrada.</div>
    {% endif %}
  </div>
</main>
{% endblock %}