{% extends 'core/base.html' %}

{% block title %}Lista de Medicamentos{% endblock %}

{% block content %}
<main class="container">
  <h2 class="titulo">Medicamentos Cadastrados</h2>

  <div class="lista">
    {% if medicamentos %}
      {% for medicamento in medicamentos %}
        <div class="item">
          <span>Nome: {{ medicamento.nomeMedicamento }} | Fabricante: {{ medicamento.fabricante }} | Preço:  R$ {{ medicamento.preco }}</span>

          {% if user.is_authenticated %}
          <span class="acoes">
            <a href="{% url 'atualizar_medicamento' medicamento.id %}" class="btn-editar">Editar</a>
            <a href="{% url 'excluir_medicamento' medicamento.id %}" class="btn-excluir">Excluir</a>
          </span>
          {% endif %}
        </div>

      {% endfor %}
    {% else %}
      <div class="item">Nenhum medicamento cadastrado.</div>
    {% endif %}
  </div>
</main>
{% endblock %}